<!-- Category Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">카테고리 추가</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addCategoryForm" action="#" th:action="@{/admin/category}" th:object="${categoryDto}" method="post">
                    <label for="name">이름</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="카테고리 이름">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    <label for="description">설명</label>
                    <input type="text" th:field="*{description}" id="description" placeholder="설명">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <input type="submit" form="addCategoryForm" class="btn btn-primary-" value="추가">
            </div>
        </div>
    </div>
</div>
