<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}">
<head>
    <title>유형 관리</title>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">카테고리 관리</h1>
        <p class="mb-4">카테고리를 관리할 수 있는 화면입니다.</p>

        <!-- Category Table -->
        <div id="categoryDiv" class="card shadow mb-4">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">카테고리</h6>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoryModal"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="categoryTable" class="table table-sm table-row-click align-middle" data-toggle="table"
                       data-url="/admin/category/all"
                       data-single-select="true" data-click-to-select="true">
                    <thead>
                    <tr>
                        <th class="col-1" data-field="id" data-sortable="true">고유 번호</th>
                        <th class="col-3" data-field="name" data-sortable="true">카테고리 이름</th>
                        <th data-field="description">설명</th>
                        <th class="col-1 text-center" data-field="status" data-formatter="statusFormatter">사용 여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Category Item Table -->
        <div id="categoryItemDiv" class="card shadow mb-4 d-none">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><span id="categoryNameForItem"></span> 항목</h6>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoryItemModal"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="categoryItemTable" class="table table-sm align-middle" data-toggle="table">
                    <thead>
                    <th class="col-1" data-field="id" data-sortable="true">고유 번호</th>
                    <th class="col-3" data-field="name" data-sortable="true" data-editable="true">항목 이름</th>
                    <th data-field="description">설명</th>
                    <th class="col-1 text-center" data-field="status">사용 여부</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Category Moal -->
        <div th:replace="pages/admin/category/categoryModal"></div>
        <div th:replace="pages/admin/category/categoryItemModal"></div>
    </div>
    <!-- Category Javascript-->
    <script th:src="@{/js/category.js}"></script>
</th:block>
</html>
