<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}">
<head>
    <title>유형 관리</title>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">카테고리 관리</h1>
        <p class="mb-4">카테고리를 관리할 수 있는 화면입니다.</p>

        <!-- Category Table -->
        <div id="categoryDiv" class="card shadow mb-4">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">카테고리</h6>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoryModal"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="border" id="categoryTable"></div>
            </div>
        </div>

        <!-- Category Item Table -->
        <div id="categoryItemDiv" class="card shadow mb-4 d-none">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><span id="categoryNameForItem"></span> 항목</h6>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoryItemModal"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="border" id="categoryItemTable"></div>
            </div>
        </div>

        <!-- Category Modal -->
        <div th:replace="pages/admin/category/categoryModal"></div>
        <div th:replace="pages/admin/category/categoryItemModal"></div>
    </div>
    <!-- Category Javascript-->
    <script th:src="@{/js/category.js}"></script>
</th:block>
</html>
