<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}">
<head>
    <title>감정관리대장</title>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">감정관리대장</h1>
        <p class="mb-4">감정관리 상세 정보입니다. </p>
        <div class="d-flex align-items-center justify-content-end">
            <button class="btn btn-primary">수정</button>
        </div>

        <!-- Overview table -->
        <div class="card shadow mb-2">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">사건 개요</h6>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm" data-toggle="table" id="overviewTable">
                    <thead>
                    <th class="col-2">구분</th>
                    <th class="col-4">내용</th>
                    <th class="col-2">구분</th>
                    <th class="col-4">내용</th>
                    </thead>
                    <tbody>
                    <tr>
                        <th>감정연도</th>
                        <td th:text="${appraisal.year}"></td>
                        <th data-editable="true">감정번호</th>
                        <td th:text="${appraisal.appraisalNumber}"></td>
                    </tr>
                    <tr>
                        <th>수소법원</th>
                        <td th:text="${appraisal.courtCategory.name}"></td>
                        <th>재판부</th>
                        <td th:text="${appraisal.judgePanel}"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td th:text="${appraisal.judgeTel}"></td>
                        <th>팩스번호</th>
                        <td th:text="${appraisal.judgeFax}"></td>
                    </tr>
                    <tr>
                        <th>사건번호</th>
                        <td><span th:text="${appraisal.caseType}"></span>
                            <span th:text="${appraisal.caseNumber}"></span></td>
                        <th>감정번호</th>
                        <td th:text="${appraisal.appraisalCategory.name}"></td>
                    </tr>
                    <tr>
                        <th>사건명</th>
                        <td th:text="${appraisal.name}"></td>
                        <th>감정목적물</th>
                        <td th:text="${appraisal.objectAddress}"></td>
                    </tr>
                    <tr>
                        <th>감정목적물 비고</th>
                        <td colspan="3" th:text="${appraisal.objectRemarks}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Parties table -->
        <div class="card shadow mb-2">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">당사자</h6>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm" data-toggle="table" id="partiesTable">
                    <thead>
                    <th class="col-2">구분</th>
                    <th class="col-2">이름</th>
                    <th class="col-3">연락처</th>
                    <th class="col-2">소속 기관</th>
                    <th class="col-3">소속 기관 연락처</th>
                    </thead>
                    <tbody>
                    <tr th:each="parties:${appraisal.partiesList}">
                        <td th:text="${parties.partiesCategory.name}"></td>
                        <td th:text="${parties.name}"></td>
                        <td th:text="${parties.tel}"></td>
                        <td th:text="${parties.affiliation}"></td>
                        <td th:text="${parties.affiliationTel}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Progress table -->
        <div class="card shadow mb-2">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">감정진행상황</h6>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoryModal"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm" data-toggle="table" id="progressTable">
                    <thead>
                    <th data-sortable="true">날짜</th>
                    <th>구분</th>
                    <th>비고</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Fee table -->
        <div class="card shadow mb-2">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">감정료</h6>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm" data-toggle="table" id="feeTable">
                    <thead>
                    <th class="col-2" data-sortable="true">당사자</th>
                    <th class="col-2" data-sortable="true">구분</th>
                    <th class="col-4">날짜</th>
                    <th class="col-4">금액</th>
                    </thead>
                    <tbody>
                    <tr th:each="fee:${appraisal.appraisalFeeList}">
                        <td th:text="${fee.parties.partiesCategory.name}"></td>
                        <td th:text="${fee.feeCategory.name}"></td>
                        <td th:text="${fee.depositDate}"></td>
                        <td th:text="${fee.amount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Fee deposits table -->
        <div class="card shadow mb-2">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">감정료 입금 현황</h6>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoryModal"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm" data-toggle="table" id="feeDepositsTable">
                    <thead>
                    <th data-sortable="true">당사자</th>
                    <th data-sortable="true">날짜</th>
                    <th>입금 금액</th>
                    <th>기존 잔금</th>
                    <th>잔금</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- Appraisal Javascript-->
    <script th:src="@{/js/appraisalNew.js}"></script>
</th:block>
</html>
