<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}">
<head>
    <title>감정관리대장</title>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">감정관리대장</h1>
        <p class="mb-4">감정관리를 신규로 등록합니다.</p>

        <!-- Overview table -->
        <div class="card shadow mb-2">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">사건 개요</h6>
                </div>
            </div>
            <div class="card-body p-1">
                <div class="my-1" id="overviewTable1"></div>
                <div class="my-1" id="overviewTable2"></div>
            </div>
        </div>

        <!-- Parties table -->
        <div class="card shadow mb-2">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">당사자</h6>
                    <button class="btn btn-sm btn-primary" onclick="addPartiesRow()"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body p-1">
                <div class="my-1" id="partiesTable"></div>
            </div>
        </div>

        <!-- Fee table -->
        <div class="card shadow mb-2">
            <div class="card-header py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">감정료</h6>
                    <button class="btn btn-sm btn-primary" onclick="addFeeRow()"><i
                            class="fas fa-plus mr-1"></i>추가
                    </button>
                </div>
            </div>
            <div class="card-body p-1">
                <div class="my-1" id="feeTable"></div>
            </div>
        </div>

        <!-- Button -->
        <div class="mt-4 mb-5 d-flex align-items-center justify-content-end">
            <button class="btn btn-primary" onclick="addAppraisal()"><i class="fas fa-floppy-disk mr-2"></i>저장</button>
        </div>

    </div>
    <!-- Appraisal Javascript-->
    <script>
        let yearOptions = JSON.parse("[[${yearOptions}]]".replaceAll("&quot;", "\""));
        let courtOptions = JSON.parse("[[${courtOptions}]]".replaceAll("&quot;", "\""));
        let appraisalCategoryOptions = JSON.parse("[[${appraisalCategoryOptions}]]".replaceAll("&quot;", "\""));
        let partiesOptions = JSON.parse("[[${partiesOptions}]]".replaceAll("&quot;", "\""));
        let feeOptions = JSON.parse("[[${feeOptions}]]".replaceAll("&quot;", "\""));
    </script>
    <script th:src="@{/js/commonDateTime.js}"></script>
    <script th:src="@{/js/appraisalNew.js}"></script>
</th:block>
</html>
