<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-purple sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">국양 관리자<sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            감정 대장
        </div>

        <!-- Nav Item - 감정관리대장 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/appraisal/all}">
                <i class="fas fa-fw fa-building-columns"></i>
                <span>감정관리</span></a>
        </li>

        <!-- Nav Item - 에상 감정 -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-list-check"></i>
                <span>예상감정관리</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            관리자
        </div>

        <!-- Nav Item - 카테고리 관리 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/category}">
                <i class="fas fa-fw fa-tags"></i>
                <span>카테고리 관리</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</div>
</html>
