.table-row-click {
    cursor: pointer;
}

.sidebar {
    height: 100%;
}

.border-top-primary {
    border-top: 0.25rem solid #4e73df !important;
}

.border-top-secondary {
    border-top: 0.25rem solid #858796 !important;
}

.border-top-success {
    border-top: 0.25rem solid #1cc88a !important;
}

.border-top-info {
    border-top: 0.25rem solid #36b9cc !important;
}

.border-top-warning {
    border-top: 0.25rem solid #f6c23e !important;
}

.border-top-dark {
    border-top: 0.25rem solid #5a5c69 !important;
}
